.projects {
	margin: 0;
	background-image: url($project_pic);
	background-size: contain;
	background-position: center;
	color: #fff;
	letter-spacing: 1px;
	padding-bottom: 30px;

	h1 {
		margin-top: 0;
		margin-left: 40px;
		padding-top: 50px;
		font-weight: 400;
		font-size: 28px;
	}
	

}