//Images
$header_pic: "/space_forest.jpg";
$prof_pic: "/yala_low_res.jpg";
$publications_pic: "/mountain.jpg";
$project_pic: "/forest.jpg";
//Colors
$link-gray: #909090;
$link-color: #4494CD;
$background-color: #fff;
$heading-color: #fff;   
$light-gray: #F5F5F1;
$label-gray: #c7c7c7;
$med-gray: #9C9C9C;
$darker-gray: #444;
$secondary-color: #4494CD;
$hover-color: rgba(71, 150, 206, 0.7);;
$error-color: #ff1744;
$success-color: #00E676;
$table-hover: #f9bdbb;
$table-border-color: #e0e0e0;
$cover-color: rgba(71, 150, 206, 0.56);
$cover-color-dark: rgba(71, 150, 206, 0.76);
//Fonts
$text-font: Helvetica, sans-serif;


