.header
    .yala
    .heading
        h1 Adam Yala
        h2 PhD Candidate at MIT CSAIL

    .bio
        p My research interests lie in the intersection of NLP, Machine learning, and Oncology. I’m particularly interested in operationalizing interpretability in deep neural networks, distant supervision and using deep learning to advance oncology. I’m fortunate to be supported by a MIT EECS fellowship and NSF GSRP.

    .footer
        .foot-sec
            h1 Contact at:
            a adamyala@mit.edu
        .foot-sec
            h1 Advised by:
            a Regina Barzilay
        .foot-sec
            h1 Member of:
            a MIT NLP Group,
            a Learn to Cure