.header
    .about 
        .yala
        .bio
            .heading
                h1 Adam Yala
                h2 PhD Candidate at MIT CSAIL

            .blurb 
                p My research interests lie in the intersection of NLP, Machine learning, and Oncology. I’m particularly interested in neural network interpretability, distant supervision and breast cancer. I’m fortunate to be supported by the MIT EECS fellowship and NSF GSRP.

    .footer
        .foot-sec
            h1 Contact at:
            span
                a(href="mailto:adamyala@mit.edu") adamyala@mit.edu
        .foot-sec
            h1 Advised by:
            span
                a(href="https://people.csail.mit.edu/regina/") Regina Barzilay
        .foot-sec
            h1 Member of:
            span
                a(href="http://nlp.csail.mit.edu/") MIT NLP Group,
                a(href="http://learningtocure.csail.mit.edu/") Learn to Cure