.header
    .about
        .yala
        .bio
            .heading
                h1 Adam Yala
                h2 PhD Candidate at MIT CSAIL

            .blurb
                p My research interests lie in the intersection of Natural Language Processing (NLP) and Machine Learning. I’m particularly interested in interpretable neural models both to make models more transparent, and to leverage alternate forms of supervision. I’m fortunate to be supported by the MIT EECS fellowship and NSF Graduate Fellowship.

    .footer
        .foot-sec
            h1 Contact at:
            span
                a(href="mailto:adamyala@mit.edu") adamyala@mit.edu
        .foot-sec
            h1 Advised by:
            span
                a(href="https://people.csail.mit.edu/regina/") Regina Barzilay
        .foot-sec
            h1 Member of:
            span
                a(href="http://nlp.csail.mit.edu/") MIT NLP Group,
                a(href="http://learningtocure.csail.mit.edu/") Learning to Cure
