a.paper_link
	.paper		
		h1.title Improving Information Extraction by Acquiring External Evidence with Reinforcement Learning
		p.authors Karthik Narasimhan, Adam Yala, Regina Barzilay 
		span.details
			p Proceedings of EMNLP 2016
			a [code]